.truckStops {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.truckStop {
  box-sizing: border-box;
  display: inline-block;
  margin: 10px auto;
  border: 1px solid;
  padding: 5px;
}
@media screen and (max-width:781px) {
  .truckStop {
    width: 100%;
  }
}
@media screen and (min-width:781px) {
  .truckStop {
    width: 45%;
  }
}
.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
h2 {
  text-align: center;
  border-bottom-style: dotted;

}
.location {
  text-align: left;
  font-size: 20px;
}
a {
  font-size: 20px;
  margin-bottom: 5px;
  display: flex;
}