.truckStops {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 20px 5px;
}
.truckStopsTitle {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 20px 0 10px;
  margin: 0;
  background: rgba(255, 255, 255, 0.8);
}

.truckStop {
 position: relative;
 margin: 2em auto;
 padding: 1.2em;
 width: 90%;
 color: #555555;
 background-color: #fff;
 border: 2px solid #464646;
 box-shadow: 0 0 5px 2px #dedede inset;
}
.trucktop-name {
 position: absolute;
 padding: 0 .5em;
 left: 20px;
 top: -15px;
 font-weight: bold;
 background-color:  #fff;
 color: #333;
}

.truckStop {
  box-sizing: border-box;
  display: inline-block;
  margin: 20px auto;
  padding: 15px;
}

.shopInformation,
.location,
.tel,
.directions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 5px;
}
.shopInformation div {
  text-align: left;
  margin-right: 20px;
}
.location {
  border-bottom: 1px #333 dashed;
}
@media screen and (max-width: 781px) {
  .truckStops {
    top: 424px;
  }
  .truckStopsTitle {
    top: 364px;
  }
  .truckStop {
    width: 95%;
  }
}
@media screen and (min-width: 781px) {
  .truckStops {
    top: 474px;
  }
  .truckStopsTitle {
    top: 414px;
  }
  .truckStop {
    width: 45%;
  }
}
.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
h2 {
  text-align: center;
  border-bottom-style: dotted;
}
.location {
  text-align: left;
}
a {
  margin-bottom: 5px;
  display: flex;
}
