<div class="truckStops">
  <h2 class="truckStopsTitle">{{ numberOfResults }} Location(s) Found</h2>
  <div class="results">
    <div v-for="truckstop in resultArray" class="truckStop">
      <span class="trucktop-name">{{ truckstop.name }}</span>
      <div class="directions">
        <div>Highway: {{ truckstop.highway }}</div>
        <div>Exit: {{ truckstop.exit }}</div>
      </div>
      <div class="location">
        {{ truckstop.address }}, {{ truckstop.city }}, {{ truckstop.state }} {{ truckstop.zip }}
      </div>
      <div class="tel">
        <div>Tel: {{ truckstop.tell }}</div>
        <div>Fax: {{ truckstop.fax }}</div>
      </div>
      <div class="shopInformation">
        <div class="truckstop-type">{{ truckstop.type }}</div>
        <div>Parking spaces: {{ truckstop.parking }}</div>
        <div>Def lanes: {{ truckstop.def }}</div>
      </div>
    </div>
  </div>
</div>
